

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}

 
header {
  background-image: url('/Assets/Hero-bg.png');
  width: 1440px;
height: 698px;
  padding: 0px 0px 200px 0px;
  gap:158;
  margin-top: 0px;
}
.bgcolour{
  background: rgb(245, 248, 255);
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}
.nav-title{
 font-size: 34px;
font-weight: 900;
color: rgb(78, 71, 255)
}

.btn-primary{
  border-radius: 10px;
  background: rgb(78, 71, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  padding: 12px 36px 12px 36px;
  margin: 0px 10px;
  color: rgb(255, 255, 255);
  border: none;

}
.banner{
margin: 309px 267.5px;

}
.headline{
  color: rgb(37, 36, 50);

font-size: 65px;
font-weight: 700;
line-height: 76px;
letter-spacing: 0%;
text-align: center;
}
.btn-2{
  margin-top: 37px;
  margin-left: 360px;
}
.btn-primary-2{
 border-radius: 10px;
  background: rgb(78, 71, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  padding: 12px 36px 12px 36px;
  margin: 0px 10px;
  color: rgb(255, 255, 255);
  border: none;

}
}
.banner-2{
  margin: 116px 160px;
}
 .sec-title {
  color: rgb(37, 36, 50);
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
}
.sec-part {
  width: 1140px;
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-body{
  gap: 23;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 23px 0px;
color: rgba(37, 36, 50, 0.5);
font-family: Raleway;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
 .imag {
  position: static;
  width: 403px;
  height: 328px;
  flex: 1;
  margin: 0px 10px;
  border-radius: 48px;

}

.activity-head {
  color: rgb(37, 36, 50);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.activity-head {
  color: rgb(37, 36, 50);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.third-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 158px;
  padding: 50px 80px;
}

.act-style {
  color: rgb(78, 71, 255);
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px;
}

.third-part {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  width: 995px;
  height: 206px;
  gap: 10;
  padding: 50px 80px 50px 80px;
  margin-left: 141px;
  margin-right: 159px;
 
  height: 306px;

}

.comment {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}



